body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #f0f0f0;
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#gameCanvas {
    border: 4px solid #444;
    background-color: #f8f8f8;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
    position: relative;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px; /* Espaço entre o título e o canvas */
}

/* Estilo para o modal */
#modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#modalContent {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

#closeModal {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#closeModal:hover {
    background-color: #0056b3;
}

#levelDisplay {
    
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
